@model IEnumerable<Books.Models.Book>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<hr />

<a href="@Url.Action("Create")" class="btn btn-primary">Add New</a>


@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Category</th>
                <th>Description</th>
                <th>Added On</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model)
            {
                <tr>
                    <td>@Html.ActionLink(book.Title, "Details", "Books", new { id = book.Id }, null)</td>
                    <td>@book.Author</td>
                    <td>@book.Category.Name</td>
                    <td>@book.Description</td>
                    <td>@book.AddedOn</td>
                    <td>
                        <a href="@Url.Action("Edit", "Books", new { id = book.Id })" class="btn btn-primary">
                            <i class="icofont-ui-edit"></i>
                            Edit
                        </a>
                        <a href="javascript:;" class="btn btn-danger js-delete" data-id="@book.Id">
                            <i class="icofont-ui-close"></i>
                            Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-warning" role="alert">
        No bookings available at the moment.

    </div>
}

@section Scripts{

    <script>
        $(document).ready(function () {

            toastr.options = {
                "preventDuplicates": true
            }

            var message = $('#Message').text();
            if (message !== '') {
                toastr.success(message);
            }

            $('.js-delete').on('click', function () {
                var btn = $(this);
                var result = confirm("Are You Sure To Delete This Row")
                if (result) {
                    $.ajax({
                        url: '/api/books/' + btn.data('id'),
                        method: 'DELETE',
                        success: function () {
                            if ($('tbody tr').length === 1)
                                $('table').fadeOut(function () {
                                    this.remove();
                                    $('.alert').removeClass('d-none');
                                });

                            else
                                btn.parents('tr').fadeOut(function () {
                                    this.remove();
                                });

                            toastr.success('Book deleted');
                        },
                        error: function () {
                            toastr.error('Something went wrong!');
                        }
                    });
                }
            });
        });
    </script>

}