@model IEnumerable<Books.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Products</h2>

<a href="@Url.Action("Create")" class="btn btn-primary mb-3">Add New</a>

@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Category</th>
                <th>Added On</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@Html.ActionLink(product.Name, "Details", "Products", new { id = product.Id }, null)</td>
                    <td>@product.Price</td>
                    <td>@product.Category.Name</td>
                    <td>@product.AddedOn</td>
                    <td>
                        <a href="@Url.Action("Edit", "Products", new { id = product.Id })" class="btn btn-primary">
                            <i class="icofont-ui-edit"></i>
                            Edit
                        </a>
                        <a href="javascript:;" class="btn btn-danger js-delete" data-id="@product.Id">
                            <i class="icofont-ui-close"></i>
                            Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-warning" role="alert">
        No bookings available at the moment.

    </div>
}
